dj_download_workflow.json
{
  "name": "🎧 DJ Download Bot - Hi-Res + YouTube",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Receive Link",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "dj-download",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      }
    },
    {
      "id": "node-parse",
      "name": "Parse Link & Detect Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueRegularOutput",
      "position": [440, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body = $input.first().json;\nconst url = (body.url || body.link || '').trim();\nif (!url) throw new Error('No URL provided');\n\nlet platform = 'unknown';\nif      (url.includes('tidal.com'))   platform = 'tidal';\nelse if (url.includes('qobuz.com'))   platform = 'qobuz';\nelse if (url.includes('deezer.com'))  platform = 'deezer';\nelse if (url.includes('spotify.com')) platform = 'spotify';\nelse if (url.includes('apple.com'))   platform = 'apple';\nelse if (url.includes('soundcloud'))  platform = 'soundcloud';\nelse if (url.includes('youtube.com') || url.includes('youtu.be')) platform = 'youtube';\n\nreturn [{ json: { url, platform, quality: (platform === 'tidal' || platform === 'qobuz') ? 'FLAC' : '320kbps' } }];"
      }
    },
    {
      "id": "node-fetch",
      "name": "Fetch via Lucida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://lucida.to/api/load",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "url", "value": "={{ $json.url }}" },
            { "name": "country", "value": "US" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      }
    },
    {
      "id": "node-respond",
      "name": "Respond to Caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [920, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', platform: $('Parse Link & Detect Platform').first().json.platform, download_url: $json.result.url, metadata: $json.result.metadata || { title: $json.result.title, artist: $json.result.artist } }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Receive Link": { "main": [[{ "node": "Parse Link & Detect Platform", "type": "main", "index": 0 }]] },
    "Parse Link & Detect Platform": { "main": [[{ "node": "Fetch via Lucida", "type": "main", "index": 0 }]] },
    "Fetch via Lucida": { "main": [[{ "node": "Respond to Caller", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
