dj_download_workflow.json
{
  "name": "🎧 DJ Drop – Hi-Res Download",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Receive Link",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "dj-download",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      }
    },
    {
      "id": "node-parse",
      "name": "Extract Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body = $input.first().json;\nconst url = (body.url || body.link || '').toString().trim();\nif (!url) throw new Error('No URL in body');\n\nlet platform = 'unknown';\nif (url.includes('tidal.com'))      platform = 'tidal';\nelse if (url.includes('qobuz.com'))      platform = 'qobuz';\nelse if (url.includes('deezer.com'))     platform = 'deezer';\nelse if (url.includes('spotify.com'))    platform = 'spotify';\nelse if (url.includes('apple.com'))      platform = 'apple';\nelse if (url.includes('soundcloud.com')) platform = 'soundcloud';\nelse if (url.includes('youtube.com') || url.includes('youtu.be')) platform = 'youtube';\n\nreturn [{ json: { url, platform } }];"
      }
    },
    {
      "id": "node-lucida",
      "name": "Fetch via Lucida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [680, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://lucida.to/api/load",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "url",     "value": "={{ $json.url }}" },
            { "name": "country", "value": "US" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120 Safari/537.36" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      }
    },
    {
      "id": "node-respond",
      "name": "Build & Send Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const lucida   = $input.first().json;\nconst platform = $('Extract Platform').first().json.platform;\n\nconst downloadUrl =\n  lucida?.url ||\n  lucida?.result?.url ||\n  lucida?.download_url ||\n  lucida?.data?.url ||\n  null;\n\nconst meta   = lucida?.result?.metadata || lucida?.metadata || {};\nconst title  = meta.title  || lucida?.title  || 'Unknown Title';\nconst artist = meta.artist || lucida?.artist || '';\n\nreturn [{\n  json: {\n    status:       downloadUrl ? 'ok' : 'error',\n    platform,\n    download_url: downloadUrl,\n    metadata:     { title, artist },\n    message:      downloadUrl ? null : 'Lucida could not find a link for this URL'\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Receive Link":      { "main": [[{ "node": "Extract Platform",        "type": "main", "index": 0 }]] },
    "Extract Platform":  { "main": [[{ "node": "Fetch via Lucida",        "type": "main", "index": 0 }]] },
    "Fetch via Lucida":  { "main": [[{ "node": "Build & Send Response",   "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
